[Unit]
Description=AGL Cluster Reference GUI
After=multi-user.target weston.service
Requires=multi-user.target weston.service

[Service]
Environment=XDG_RUNTIME_DIR=/run/user/0
ExecStart=/opt/apps/cluster

[Install]
WantedBy=multi-user.target
