[Unit]
Requires=agl-compositor.service
After=agl-compositor.service

[Service]
ExecStart=/usr/bin/homescreen --j=/usr/share/flutter/config/gallery_on_bg.json
Restart=on-failure

[Install]
WantedBy=agl-session.target
