[Unit]
Description=momiscreen
After=multi-user.target weston.service
Requires=multi-user.target weston.service

[Service]
Type=simple
EnvironmentFile=/etc/default/momiscreen
ExecStart=/usr/bin/momiscreen

[Install]
WantedBy=multi-user.target
