# Enable BT_VIRTIO ("Virtio Bluetooth driver") config located in menu
#
#     -> Networking support (NET [=y])                                                                                                                                                                                                  │  
#       -> Bluetooth subsystem support (BT [=m])                                                                                                                                                                                        │  
#         -> Bluetooth device drivers                                                                                                                                                                                                   │  
#
CONFIG_BT_VIRTIO=m
