[Unit]
Description=momiplayer
After=multi-user.target weston.service
Requires=multi-user.target weston.service

[Service]
Type=simple
EnvironmentFile=/etc/default/momiplay
ExecStart=/usr/bin/momiplay

[Install]
WantedBy=multi-user.target
