[Unit]
Description=Tiny Window Manager
After=weston.service
Wants=weston.service

[Service]
Type=simple
EnvironmentFile=/etc/default/weston
ExecStart=/usr/bin/ilmmanager

[Install]
WantedBy=weston.service
